{:kotoba.app/id "kotoba-lang.kami-genko", :kotoba.app/name "genko", :kotoba.app/kind :document, :kotoba.app/document "dist/genko.html", :kotoba.app/build {:generator "scripts/gen-selfcontained.cljs", :inputs ["public/index.html" "public/js/genko-app.js"], :bundle-build "shadow-cljs release app", :deterministic? true}, :kotoba.app/bundle-cid "bafkreiffmgvpdzs6aoidrznnvyn2yxts2smhr7ghryj2yurozdjqlv4qve", :kotoba.app/embed-url "ipfs://bafkreiffmgvpdzs6aoidrznnvyn2yxts2smhr7ghryj2yurozdjqlv4qve", :published {:archive "https://kotobase.net/ipfs/bafkreiffmgvpdzs6aoidrznnvyn2yxts2smhr7ghryj2yurozdjqlv4qve", :size 633269, :put-status 201, :get-status 200, :at "2026-09-09T11:37:06.738Z"}}
